@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    --active-color: black;
    --inactive-color: rgb(100, 100, 100);
    --White: white;
    --color240: rgb(240, 240, 240);
}
*::-webkit-scrollbar{
    display: none;
}
.navbar {
    display: flex;
    padding: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: normal;
    align-content: normal;
}
.logo{
    font-weight: 900;
    font-size: 32px;
    width: 150px;

}
.list{
    display: flex;
    list-style-type: none;
    font-weight: 600;
}
a{
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: var(--inactive-color);

}
.item{
    padding: 10px;
    padding-inline: 20px;
    /* color: var(--inactive-color); */
    cursor: pointer;
}
.item:hover a{
    color: var(--active-color);
    font-weight: 700;
}
.active{
    font-weight: 700;
    color: var(--active-color);
    border-radius: 10px;
}
.btn{
    width: 150px;
    height: 95%;
    color: var(--active-color);
    border: none;
    border-radius: 500px;
    font-weight: 600;
    cursor: pointer;
    /* transition: 300ms ease-in-out; */
}
.btn:hover{
    background-color: var(--active-color);
    color: var(--White);
}
.body{
    margin-inline: 10px;
    padding: 20px;
    background-color: rgb(25, 25, 25);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 0.3fr 1.3fr 0.4fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "info main side";
    height: 82svh;
    /* overflow: hidden; */
}  
.info{
    grid-area: info;
    background-color: blue;
}
.main{
    display: grid;
    grid-template-rows: 1fr 1.3fr .7fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "saving-info"
        "record"
        "extra";
    grid-area: main;
}
.saving-info{
    grid-area: saving-info;
    border-radius: 20px;
    background-color: var(--White);
    
    display: grid;
    grid-template-columns: 1.6fr 0.7fr 0.7fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "saving received send";

    overflow: hidden;
    padding: 20px;

}
.saving{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "balance balance balance"
    "balance balance balance"
    "accType accType accType"
    "accNo accNo accNo";
    grid-area: saving;
    
    color: var(--active-color);
    
    background-color: var(--color240);
    
    padding: 10px;
    
    border-radius: 20px;
    
}
.balance{
    grid-area: balance;
    text-transform: capitalize;
    font-size: 28px;
    

}
.accType{
    grid-area: accType;
}
.accNo{
    grid-area: accNo;
}
.received {
    grid-area: received;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;

    background-color: var(--color240);

    border-radius: 20px;

    padding: 10px;
}
.send{
    grid-area: send;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;

    background-color: var(--color240);

    border-radius: 20px;

    padding: 7px;

}
.I{
    
    flex-grow: 2;
    font-size: 20px;
    font-weight: 700;
    
    padding: 10px;
    padding-inline: 10px;

}
.II{
    flex-grow: 1;
    padding: 5px;
    padding-inline: 10px;
    /* background-color: sienna; */
}
.III{
    flex-grow: 3;
    /* background-color: bisque; */
}

.save{
    height: 100%;
    width: 100%;

    background-color: rgb(232, 232, 232);
}
.record{
    grid-area: record;
    padding: 20px;
    background-color: var(--White);
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
}
.links{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;

    border-radius: 20px;
}
.quklnk{
    width: 19%;
    height: 75%;
}
.quklnk-btn{
    width: 100%;
    height: 100%;
    color: var(--active-color);
    cursor: pointer;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    transition: 250ms;
}
.quklnk-btn > i{
    color: #000000;
}
.quklnk-btn:hover > i{
    color: #ffffff;
}
.quklnk-btn:hover{
    background-color: var(--active-color);
}
.extra{
    grid-area: extra;
    background-color: var(--White);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        ". .";

    padding: 20px;
    border-radius: 20px;
}
.avatarList{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content: space-around; */
    align-items: center;
    align-content: center;

    background-color: var(--color240);

    margin-top: 10px;
    padding: 15px;
    padding-left: 20px;

    border-radius: 20px;
}
.avatar{
    /* Rounded border */
    border-radius: 50%;
    
    height: 4rem;
    width: 4rem;

    overflow: hidden;
    margin-right: 15px;
}
.avatar__image {
    /* Size */
    height: 100%;
    width: 100%;
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(225, 225, 225);
}
.side{  
    display: grid;
    grid-template-rows: 1.4fr 0.6fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "Transactions"
        "cards";
    grid-area: side;
    outline: 2px solid gray;
    border-radius: 20px;

    background-color: var(--White);

    color: var(--active-color);

}
.transactions{
    grid-area: Transactions;
    height: 430px;    
}
.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: normal;
    align-content: stretch;

    margin: 15px;

    padding-bottom: 10px;
    border-bottom: 2px solid gray;
}
.head{
    font-size: 20px;
    font-weight: 700;
    padding-left: 10px;
}
.listing{
    font-size: 12px;
    border: 2px solid var(--inactive-color);
    border-radius: 200px;
    padding-inline: 10px;
    padding-block: 5px;
}
.trans-body{
    height: 365px;
    overflow: scroll;
}
.trans-record{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: center;
    align-content: normal;

    margin: 10px;
    padding: 10px;

    background-color: var(--color240);
    
    font-size: 14px;
    font-weight: 600;
    

    border-radius: 10px;
}
.trans-record > .icon > img{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;

    /* background-color: gray; */
    height: 20px;
    aspect-ratio: 1.1/1;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}
.trans-record > .data{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        ""
        "";
}
.trans-record > .data > .date{
    font-size: 10px;
    font-weight: 400;
    color: gray;
}
.trans-record > .amt{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}
.cards{
    grid-area: cards;
    outline: 2px solid gray;
    border-radius: 20px;
    padding-inline: 2.5px;
    padding-top: 20px;
}
.credit-card{
    font-family: "Share Tech Mono", monospace;
    color: var(--active-color);
    border-radius: 20px;
    background-color: var(--color240);
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0.35rem;
    grid-template-areas: 
        "limit limit . provider"
        "cardNO cardNO cvv-text cvv"
        "number number number number"
        "cardType cardType validity-text validity";
        font-size: 16px;
        font-weight: 600;
}
.credit-card > .limit{
    grid-area: limit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;

}
.credit-card > .provider{
    grid-area: provider;
    display: flex;
    justify-content: center;
    align-items: center;
}
.credit-card > .number{
    grid-area: number;
}
.credit-card > .cardNO{
    grid-area: cardNO;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    padding-block-start: 10px;
    color: var(--inactive-color);
}
.credit-card > .cardType{
    grid-area: cardType;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.credit-card > .validity{
    grid-area: validity;
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.credit-card > .validity-text{
    grid-area: validity-text;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    color: var(--inactive-color);

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.credit-card > .cvv-text{
    grid-area: cvv-text;
    
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--inactive-color);

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.credit-card > .cvv{
    grid-area: cvv;
    font-family: "Lato", sans-serfi;
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}