*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* height: 40px; */
    padding: 20px;
}

.logo{
    font-weight: 900;
    font-size: 32px;
}
.list{
    display: flex;
    list-style-type: none;
    font-weight: 600;
}
.item{
    padding: 10px;
    padding-inline: 20px;
    width: max-content;
    /* margin-inline: 10px; */
}
.active{
    /* font-weight: 600; */
    /* font-size: 18px; */
    background-color: rgba(125, 125, 125, 0.1);
    border-radius: 10px;
}