*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    --active-color: black;
    --inactive-color: rgb(100, 100, 100);
    --White: white;
}
.navbar {
    display: flex;
    padding: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: normal;
    align-content: normal;
}

.logo{
    font-weight: 900;
    font-size: 32px;
    width: 150px;

}
.list{
    display: flex;
    list-style-type: none;
    font-weight: 600;
}
.item{
    padding: 10px;
    padding-inline: 20px;
    color: var(--inactive-color);
    cursor: pointer;
}
.item:hover{
    color: var(--active-color);
    font-weight: 700;
}
.active{
    font-weight: 700;
    color: var(--active-color);
    border-radius: 10px;
}
.item:hover > .active{
    color: var(--inactive-color);
}
a{
    display: block;
    text-decoration: none;
    cursor: pointer;

}
.btn{
    width: 150px;
    height: 95%;
    color: var(--active-color);
    border: none;
    border-radius: 500px;
    font-weight: 600;
    cursor: pointer;
    transition: 300ms ease-in-out;
}
.btn:hover{
    background-color: var(--active-color);
    color: var(--White);
}