*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    --active-color: black;
    --inactive-color: rgb(140, 140, 140);
    --White: white;
    --color240: rgb(240, 240, 240);
    font-size: 14px;
}
*::-webkit-scrollbar{
    display: none;
}
.viewport{
    height: 100svh;
}
.navbar {
    display: flex;
    padding: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: normal;
    align-content: normal;
}
.logo{
    font-weight: 900;
    font-size: 32px;
    width: 150px;
    color: var(--active-color);
}
.list{
    display: flex;
    list-style-type: none;
    font-weight: 600;
}
a{
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: var(--inactive-color);

}
.item{
    padding: 10px;
    padding-inline: 20px;
    /* color: var(--inactive-color); */
    cursor: pointer;
}
.item:hover a{
    color: var(--active-color);
    font-weight: 700;
}
.active{
    font-weight: 700;
    color: var(--active-color);
    border-radius: 10px;
}

.btn{
    width: 150px;
    height: 95%;
    color: var(--active-color);
    border: none;
    border-radius: 500px;
    font-weight: 600;
    cursor: pointer;
    /* transition: 300ms ease-in-out; */
}
.disabled{
    width: 150px;
    height: 95%;
    color: var(--inactive-color);
    background-color: var(--color240);
    border: none;
    border-radius: 500px;
    font-weight: 600;
    cursor: pointer;    
}
.btn:hover{
    background-color: var(--active-color);
    color: var(--White);
}
.body{
    
    margin-inline: 10px;
    /* padding: 20px; */
    background-color: rgb(25, 25, 25);
    border-radius: 20px;

    height: 87svh;
    overflow: hidden;
}
.tag{
    padding: 5px;
    /* padding-inline: 10px; */
    font-size: 10px;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 100px;

    text-align: center;
}
.orange{
    color: orange;
    border-color: orange;
}
.blue{
    color: blue;
    border-color: blue;
}
.green{
    color: green;
    border-color: green;
}
.container{  
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "cardholder detail-area";
    height: 85svh;
    overflow: hidden;
    
}  
.cardholder{ 
    grid-area: cardholder;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . .";
    
    padding: 20px;
    margin: 20px;
    margin-right: 0px;
    overflow: scroll;
}
.detail-area{
    grid-area: detail-area;
    padding: 10px;
    margin: 40px;
    margin-left: 0px;
    margin-bottom: 20px;
    background-color: var(--White);
    border-radius: 20px;
    overflow: hidden;
}
.card{ 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr 1.8fr 0.7fr;
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "tktno category"
        "info info"
        "open open";
    align-items: center;
    justify-items: stretch;

    padding: 15px;

    background-color: var(--White);
    border-radius: 20px;
}
.category{
    grid-area: category;
}  
.tktn{
    grid-area: tktno;
}
.info{
    grid-area: info;
}  
.open{
    grid-area: open;
}
.click{
    width: 100%;
    height: 100%;
    padding-block: 10px;
}
.detail{
    height: 100%;
    width: 100%;
}
/* Style for form fields and labels */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}
.form-group select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

/* Style for form sections */
.form-section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
}
.files{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;

    background-color: var(--color240);

    width: 100%;
    padding: 10px;
    
}
.file{
    background-color: red;
    width: 20%;

    padding: 20px;
    border-radius: 20px;
}
table{
    text-align: left;
    font-size: 12px;
}